/* line 1, ../sass/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

/* line 1, ../sass/_normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 1, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 1, ../sass/_normalize.scss */
[hidden] {
  display: none; }

/* line 1, ../sass/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 1, ../sass/_normalize.scss */
html, button, input, select, textarea {
  font-family: sans-serif; }

/* line 1, ../sass/_normalize.scss */
body {
  margin: 0; }

/* line 1, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted; }

/* line 1, ../sass/_normalize.scss */
a:active, a:hover {
  outline: 0; }

/* line 1, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: .67em 0; }

/* line 1, ../sass/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: .83em 0; }

/* line 1, ../sass/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0; }

/* line 1, ../sass/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0; }

/* line 1, ../sass/_normalize.scss */
h5 {
  font-size: .83em;
  margin: 1.67em 0; }

/* line 1, ../sass/_normalize.scss */
h6 {
  font-size: .75em;
  margin: 2.33em 0; }

/* line 1, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 1, ../sass/_normalize.scss */
b, strong {
  font-weight: 700; }

/* line 1, ../sass/_normalize.scss */
blockquote {
  margin: 1em 40px; }

/* line 1, ../sass/_normalize.scss */
dfn {
  font-style: italic; }

/* line 1, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 1, ../sass/_normalize.scss */
p, pre {
  margin: 1em 0; }

/* line 1, ../sass/_normalize.scss */
code, kbd, pre, samp {
  font-family: monospace,serif;
  _font-family: 'courier new',monospace;
  font-size: 1em; }

/* line 1, ../sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 1, ../sass/_normalize.scss */
q {
  quotes: none; }

/* line 1, ../sass/_normalize.scss */
q:before, q:after {
  content: '';
  content: none; }

/* line 1, ../sass/_normalize.scss */
small {
  font-size: 80%; }

/* line 1, ../sass/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 1, ../sass/_normalize.scss */
sup {
  top: -0.5em; }

/* line 1, ../sass/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 1, ../sass/_normalize.scss */
dl, menu, ol, ul {
  margin: 1em 0; }

/* line 1, ../sass/_normalize.scss */
dd {
  margin: 0 0 0 40px; }

/* line 1, ../sass/_normalize.scss */
menu, ol, ul {
  padding: 0 0 0 40px; }

/* line 1, ../sass/_normalize.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

/* line 1, ../sass/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* line 1, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 1, ../sass/_normalize.scss */
figure {
  margin: 0; }

/* line 1, ../sass/_normalize.scss */
form {
  margin: 0; }

/* line 1, ../sass/_normalize.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

/* line 1, ../sass/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

/* line 1, ../sass/_normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/* line 1, ../sass/_normalize.scss */
button, input {
  line-height: normal; }

/* line 1, ../sass/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

/* line 1, ../sass/_normalize.scss */
button[disabled], input[disabled] {
  cursor: default; }

/* line 1, ../sass/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

/* line 1, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 1, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 1, ../sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 1, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 1, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* contains our grid system */
/* Import the Compass mixins to allow us to use Background Gradients */
/* line 22, ../sass/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'BebasNeueRegular';
  src: url("fonts/BebasNeue-webfont.eot");
  src: url("fonts/BebasNeue-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/BebasNeue-webfont.woff") format("woff"), url("fonts/BebasNeue-webfont.ttf") format("truetype"), url("fonts/BebasNeue-webfont.svg#BebasNeueRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 33, ../sass/_base.scss */
body {
  font-size: .9em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #3e3c3c; }

/* line 34, ../sass/_base.scss */
h1 {
  font: 2.25em/1.66667em;
  color: #005b91; }

/* line 35, ../sass/_base.scss */
h2 {
  font-size: 1.5em;
  font-weight: 800;
  color: #049af3; }
  /* line 40, ../sass/_base.scss */
  h2 a:link, h2 a:visited {
    color: #049af3;
    -webkit-transition: all, 0.1s;
    -moz-transition: all, 0.1s;
    -o-transition: all, 0.1s;
    transition: all, 0.1s; }
  /* line 41, ../sass/_base.scss */
  h2 a:hover, h2 a:active {
    color: #005A91;
    -webkit-transition: all, 0.1s;
    -moz-transition: all, 0.1s;
    -o-transition: all, 0.1s;
    transition: all, 0.1s; }

/* line 43, ../sass/_base.scss */
h3 {
  font-size: 1.5em;
  font-weight: 700;
  color: #005b91; }

/* line 44, ../sass/_base.scss */
h4 {
  font-size: 1.25em;
  font-weight: 600;
  color: #90d4fd; }

/* line 45, ../sass/_base.scss */
a {
  text-decoration: none; }
  /* line 48, ../sass/_base.scss */
  a:link, a:visited {
    color: #049af3; }
  /* line 49, ../sass/_base.scss */
  a:hover, a:active {
    color: #005A91; }

/* line 51, ../sass/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 52, ../sass/_base.scss */
img {
  vertical-align: middle; }

/* line 54, ../sass/_base.scss */
.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0; }

/* line 55, ../sass/_base.scss */
.clear {
  clear: both; }

/* line 56, ../sass/_base.scss */
.alignleft {
  float: left; }

/* line 57, ../sass/_base.scss */
.alignright {
  float: right; }

/* line 58, ../sass/_base.scss */
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto; }

/* line 59, ../sass/_base.scss */
p img.alignleft {
  margin: 5px 10px 10px 0; }

/* line 60, ../sass/_base.scss */
p img.alignright {
  margin: 5px 0 10px 10px; }

/* line 61, ../sass/_base.scss */
.call-to-action {
  background: #90d4fd;
  color: #049af3;
  padding: 16px 8px 16px 16px;
  margin: 33px auto 15px;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.818181818em;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
  /* line 72, ../sass/_base.scss */
  .call-to-action p {
    margin: 0; }

/* line 74, ../sass/_base.scss */
.button, a.button, .button a {
  background: #005096;
  color: #fff;
  padding: 13px 35px;
  margin-left: 15px;
  border: none;
  text-shadow: -1px 0 0 #236b34;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all, 0.1s;
  -moz-transition: all, 0.1s;
  -o-transition: all, 0.1s;
  transition: all, 0.1s; }
  /* line 84, ../sass/_base.scss */
  .button span, a.button span, .button a span {
    background: #ed1c24; }

/* line 86, ../sass/_base.scss */
.button:hover, a.button:hover, .button a:hover {
  background: #005fb2;
  color: #fff;
  border: none;
  -webkit-transition: all, 0.1s;
  -moz-transition: all, 0.1s;
  -o-transition: all, 0.1s;
  transition: all, 0.1s; }
  /* line 92, ../sass/_base.scss */
  .button:hover span, a.button:hover span, .button a:hover span {
    background: #ed1c24; }

/* line 94, ../sass/_base.scss */
.button.standalone {
  margin: 33px 0 13px;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.818181818em;
  background: #41a458; }

/* line 101, ../sass/_base.scss */
.button.primary {
  background: #41A458;
  color: #fff;
  border: none;
  font-size: 1.3em;
  padding: 7px 14px;
  position: absolute;
  bottom: 36px;
  left: 11px;
  text-shadow: 1px 1px 1px black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 1px 1px 1px #1a97d0;
  -moz-box-shadow: inset 1px 1px 1px #1a97d0;
  box-shadow: inset 1px 1px 1px #1a97d0; }

/* line 115, ../sass/_base.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

/* line 120, ../sass/_base.scss */
dd {
  margin: 0 0 0 40px; }

/* line 125, ../sass/_base.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* line 133, ../sass/_base.scss */
.reset-list, .nav-list, #sidebar ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/********** Pagination **********/
/* line 141, ../sass/_base.scss */
.pagenavi {
  margin: 0 0 20px 30px;
  padding: 5px 1px;
  float: left;
  width: 98%; }
  /* line 143, ../sass/_base.scss */
  .pagenavi a {
    padding: 5px 6px 4px;
    margin: 3px;
    text-decoration: none;
    border: 1px solid #ccc;
    color: #666;
    background-color: inherit; }
    /* line 151, ../sass/_base.scss */
    .pagenavi a:hover {
      border: 1px solid #444;
      color: #444;
      background-color: #eee; }
  /* line 158, ../sass/_base.scss */
  .pagenavi span .pages {
    padding: 5px 6px 4px;
    margin: 3px;
    color: #825a2d;
    font-weight: 700;
    border: 1px solid #999;
    background-color: inherit; }
  /* line 166, ../sass/_base.scss */
  .pagenavi span .current {
    padding: 5px 6px 4px;
    margin: 3px;
    font-weight: 700;
    border: 1px solid #666;
    color: #444;
    background-color: #eee; }
  /* line 174, ../sass/_base.scss */
  .pagenavi span .expand {
    padding: 5px 6px 4px;
    margin: 3px;
    border: 1px solid #ccc;
    color: #444;
    background-color: inherit; }
  /* line 182, ../sass/_base.scss */
  .pagenavi .first, .pagenavi .last {
    border: 1px solid #aaa; }
  /* line 183, ../sass/_base.scss */
  .pagenavi .single_page {
    border: 1px dashed #ccc; }

/* line 190, ../sass/_base.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

/* line 196, ../sass/_base.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 200, ../sass/_base.scss */
figure {
  margin: 0; }

/* line 204, ../sass/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 209, ../sass/_base.scss */
td {
  vertical-align: top; }

/* line 213, ../sass/_base.scss */
hr {
  background: #000;
  color: #000;
  height: 1px;
  border: none;
  margin: 20px 0; }

/* line 221, ../sass/_base.scss */
.post-edit-link {
  float: right; }

/* Media */
/* line 227, ../sass/_base.scss */
.wp-caption {
  border: 1px solid #ccc;
  max-width: 100%; }
  /* line 230, ../sass/_base.scss */
  .wp-caption.aligncenter, .wp-caption.alignleft, .wp-caption.alignright {
    margin-bottom: 1.5em; }
  /* line 233, ../sass/_base.scss */
  .wp-caption img {
    display: block;
    margin: 1.2% auto 0;
    max-width: 98%; }

/* line 240, ../sass/_base.scss */
.wp-caption-text {
  text-align: center; }

/* line 244, ../sass/_base.scss */
.wp-caption .wp-caption-text {
  margin: .8075em 0; }

/* line 248, ../sass/_base.scss */
.gallery-caption, .sticky, .bypostauthor {
  visibility: visible; }

/* content */
/* comments */
/* Helper Classes */
/* line 258, ../sass/_base.scss */
.ir, .ir a {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }
  /* line 263, ../sass/_base.scss */
  .ir:before, .ir a:before {
    content: "";
    display: block;
    width: 0;
    height: 100%; }

/* line 271, ../sass/_base.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/* line 276, ../sass/_base.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  /* line 286, ../sass/_base.scss */
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/* line 297, ../sass/_base.scss */
.invisible {
  visibility: hidden; }

/* line 302, ../sass/_base.scss */
.group:before, .group:after {
  content: " ";
  display: table; }
/* line 306, ../sass/_base.scss */
.group:after {
  clear: both; }
/* line 309, ../sass/_base.scss */
.group {
  *zoom: 1; }

/* line 1, ../sass/_menu.scss */
nav {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'BebasNeueRegular', sans-serif;
  font-size: 1.6em;
  line-height: 1em;
  font-weight: normal;
  position: relative;
  top: 23px; }
  /* line 11, ../sass/_menu.scss */
  nav a {
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s; }
    /* line 14, ../sass/_menu.scss */
    nav a:link, nav a:visited {
      color: #005b91; }
    /* line 15, ../sass/_menu.scss */
    nav a:hover, nav a:active {
      color: #049af3; }
  /* line 18, ../sass/_menu.scss */
  nav .menu > li.current-menu-item > a {
    color: #049af3; }

/* line 23, ../sass/_menu.scss */
.menu {
  list-style: none;
  line-height: 1.0;
  float: right;
  margin-right: -19px; }
  /* line 29, ../sass/_menu.scss */
  .menu * {
    margin: 0;
    list-style: none; }
  /* line 34, ../sass/_menu.scss */
  .menu ul {
    background: #009AF3;
    position: absolute;
    top: -999em;
    width: 10em;
    z-index: 99999;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 1px 0 5px #cccccc;
    -moz-box-shadow: 1px 0 5px #cccccc;
    box-shadow: 1px 0 5px #cccccc; }
    /* line 44, ../sass/_menu.scss */
    .menu ul li {
      width: 100%; }
    /* line 47, ../sass/_menu.scss */
    .menu ul a:link, .menu ul a:visited {
      color: #fff; }
    /* line 48, ../sass/_menu.scss */
    .menu ul a:hover, .menu ul a:active {
      color: #005B91;
      background: #90D4FD; }
  /* line 55, ../sass/_menu.scss */
  .menu li {
    float: left;
    position: relative; }
    /* line 59, ../sass/_menu.scss */
    .menu li:hover {
      visibility: inherit; }
    /* line 63, ../sass/_menu.scss */
    .menu li:hover ul, .menu li.sfHover ul {
      left: 0;
      top: 44px;
      z-index: 99; }
  /* line 70, ../sass/_menu.scss */
  .menu a {
    display: block;
    position: relative;
    padding: 0 12px;
    cursor: pointer; }
  /* line 77, ../sass/_menu.scss */
  .menu .arrow {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #f8941d;
    position: absolute;
    top: -7px;
    left: 44%; }
  /* line 88, ../sass/_menu.scss */
  .menu ul a {
    padding: 8px 18px;
    font-size: 0.9em; }

/* line 96, ../sass/_menu.scss */
ul.menu li:hover li ul, ul.menu li.sfHover li ul {
  top: -999em; }
/* line 101, ../sass/_menu.scss */
ul.menu li li:hover ul, ul.menu li li.sfHover ul {
  left: 10em;
  top: 0; }
/* line 106, ../sass/_menu.scss */
ul.menu li li:hover li ul, ul.menu li li.sfHover li ul {
  top: -999em; }
/* line 110, ../sass/_menu.scss */
ul.menu li li li:hover ul, ul.menu li li li.sfHover ul {
  left: 10em;
  top: 0; }

/* line 120, ../sass/_menu.scss */
.menu a.sf-with-ul {
  padding-right: 2.25em;
  min-width: 1px; }

/* line 125, ../sass/_menu.scss */
.sf-sub-indicator {
  position: absolute;
  display: block;
  right: .75em;
  top: 1.05em;
  width: 10px;
  height: 10px;
  text-indent: -999em;
  overflow: hidden;
  background: url("../images/arrows-ffffff.png") no-repeat -10px -100px; }

/* line 139, ../sass/_menu.scss */
a > .sf-sub-indicator {
  top: .8em;
  background-position: 0 -100px; }
/* line 144, ../sass/_menu.scss */
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator {
  background-position: -10px -100px; }

/* line 151, ../sass/_menu.scss */
li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator {
  background-position: -10px -100px; }

/* line 158, ../sass/_menu.scss */
.menu ul .sf-sub-indicator {
  background-position: -10px 0; }
/* line 163, ../sass/_menu.scss */
.menu ul a > .sf-sub-indicator {
  background-position: 0 0; }
/* line 167, ../sass/_menu.scss */
.menu ul a:focus > .sf-sub-indicator, .menu ul a:hover > .sf-sub-indicator, .menu ul a:active > .sf-sub-indicator {
  background-position: -10px 0; }
/* line 173, ../sass/_menu.scss */
.menu ul li:hover > a > .sf-sub-indicator, .menu ul li.sfHover > a > .sf-sub-indicator {
  background-position: -10px 0; }

/* line 1, ../sass/_forms.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 2, ../sass/_forms.scss */
textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* line 8, ../sass/_forms.scss */
form {
  margin: 0; }
  /* line 11, ../sass/_forms.scss */
  form .inline {
    line-height: 3; }
    /* line 14, ../sass/_forms.scss */
    form .inline p {
      margin-bottom: 0; }

/* line 17, ../sass/_forms.scss */
label {
  font-weight: bold;
  cursor: pointer; }

/* line 18, ../sass/_forms.scss */
fieldset {
  padding: 1em;
  margin: 0 0 1.5em;
  border: 1px solid #ccc; }

/* line 19, ../sass/_forms.scss */
legend {
  font-weight: 700;
  font-size: 1.2em;
  border: 0;
  margin-left: -7px;
  padding: 0; }

/* line 22, ../sass/_forms.scss */
input[type=checkbox], input[type=radio], input.checkbox, input.radio {
  position: relative;
  top: .25em; }
/* line 27, ../sass/_forms.scss */
input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button; }
/* line 32, ../sass/_forms.scss */
input[type=checkbox], input[type=radio] {
  box-sizing: border-box; }
/* line 33, ../sass/_forms.scss */
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  /* line 39, ../sass/_forms.scss */
  input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none; }
/* line 43, ../sass/_forms.scss */
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=search], input.text, input.title {
  font-size: .8em;
  padding: 8px;
  margin: .5em 0;
  border: none;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 2px #999999;
  -moz-box-shadow: inset 0 1px 2px #999999;
  box-shadow: inset 0 1px 2px #999999; }
/* line 54, ../sass/_forms.scss */
input[type=submit], input #searchsubmit, input .searchsubmit {
  background: #0083c9;
  color: #fff;
  border: none;
  font-size: .9em;
  padding: 7px 14px;
  text-shadow: 1px 1px 1px black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 1px 1px 1px #1a97d0;
  -moz-box-shadow: inset 1px 1px 1px #1a97d0;
  box-shadow: inset 1px 1px 1px #1a97d0;
  position: relative;
  top: -1px; }
/* line 67, ../sass/_forms.scss */
input[type=submit]:hover, input #searchsubmit:hover, input .searchsubmit:hover {
  background: #005A91;
  border: none;
  color: #fff;
  -webkit-box-shadow: 0 0 5px #cccccc;
  -moz-box-shadow: 0 0 5px #cccccc;
  box-shadow: 0 0 5px #cccccc; }

/* line 74, ../sass/_forms.scss */
textarea {
  width: 100%;
  height: 90px;
  padding: 5px; }

/* line 76, ../sass/_forms.scss */
button, input {
  line-height: normal;
  overflow: visible; }

/* line 82, ../sass/_forms.scss */
table button, table input {
  overflow: auto; }

/* line 87, ../sass/_forms.scss */
button {
  cursor: pointer;
  -webkit-appearance: button; }

/* line 92, ../sass/_forms.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 99, ../sass/_forms.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/* line 103, ../sass/_forms.scss */
textarea, select {
  background-color: #fff;
  border: 1px solid #7a7979;
  font-size: .8em;
  padding: 5px;
  box-shadow: inset 0 0 5px #c2c1c1; }

/* line 111, ../sass/_forms.scss */
textarea:focus, select:focus {
  border-color: #666;
  box-shadow: none; }

/* line 116, ../sass/_forms.scss */
textarea, select {
  margin: .5em 0; }

/* line 120, ../sass/_forms.scss */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input:-moz-placeholder, textarea:-moz-placeholder {
  font-family: sans-serif;
  letter-spacing: .01em;
  color: #6e6e6e; }

/********** Gravity Forms **********/
/* line 127, ../sass/_forms.scss */
.gform_wrapper {
  margin: 0 !important; }

/* line 129, ../sass/_forms.scss */
.gform_wrapper input[type="text"], .gform_wrapper input[type="url"], .gform_wrapper input[type="email"], .gform_wrapper input[type="tel"], .gform_wrapper input[type="number"], .gform_wrapper input[type="password"] {
  padding: 5px; }

/* line 134, ../sass/_forms.scss */
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input.text, input.title {
  margin: 0; }

/* line 138, ../sass/_forms.scss */
textarea, select {
  margin: 0; }

/* line 139, ../sass/_forms.scss */
img.ui-datepicker-trigger {
  vertical-align: middle; }

/* line 140, ../sass/_forms.scss */
.ui-datepicker-div, #ui-datepicker-div {
  width: 273px !important; }

/* line 141, ../sass/_forms.scss */
.gform_wrapper .left_label .gfield_label {
  margin-bottom: 15px; }

/* line 142, ../sass/_forms.scss */
.gform_wrapper .gform_footer.right_label, .gform_wrapper .gform_footer.left_label, .gform_wrapper .gform_footer {
  padding: 0 !important;
  text-align: right; }

/* line 143, ../sass/_forms.scss */
.gform_widget {
  background: #049af3;
  color: #fff; }
  /* line 147, ../sass/_forms.scss */
  .gform_widget input[type=text], .gform_widget input[type=email] {
    width: 100% !important;
    padding: 5px !important; }

/* line 149, ../sass/_forms.scss */
.gform_wrapper ul li.gfield {
  margin-bottom: 14px; }

/* line 150, ../sass/_forms.scss */
.tablenav {
  text-align: right; }

/* line 151, ../sass/_forms.scss */
.search-box {
  position: absolute;
  width: 46%; }
  /* line 152, ../sass/_forms.scss */
  .search-box input {
    float: left; }
  /* line 153, ../sass/_forms.scss */
  .search-box input[type=submit] {
    position: relative;
    top: -19px; }

/* line 156, ../sass/_forms.scss */
.makerspace-directory_wrapper .gform_footer {
  height: 0; }
  /* line 157, ../sass/_forms.scss */
  .makerspace-directory_wrapper .gform_footer input[type="submit"] {
    top: 7px; }

/* line 160, ../sass/_forms.scss */
table.gf_directory {
  text-align: center;
  border: 1px solid #d1d1d1; }
  /* line 162, ../sass/_forms.scss */
  table.gf_directory tbody tr.even {
    background: #eaeaea; }
  /* line 163, ../sass/_forms.scss */
  table.gf_directory tbody tr:hover {
    background: #e8f6ff; }
  /* line 165, ../sass/_forms.scss */
  table.gf_directory thead tr, table.gf_directory tfoot tr {
    background: #d1d1d1; }

/* [ Home ] */
/********** Comment other WordPress Form Styles **********/
/* line 174, ../sass/_forms.scss */
#s, .s {
  width: 164px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s; }
  /* line 178, ../sass/_forms.scss */
  #s:focus, .s:focus {
    width: 50%;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s; }

/* line 184, ../sass/_forms.scss */
#comments-list, #respond {
  margin-left: 10px;
  background: transparent;
  padding: 10px; }

/* line 190, ../sass/_forms.scss */
.commentlist {
  list-style: none;
  margin: 0;
  padding: 0; }
  /* line 196, ../sass/_forms.scss */
  .commentlist li .comment {
    width: 85%; }
  /* line 199, ../sass/_forms.scss */
  .commentlist li .comment-meta {
    margin-bottom: 5px; }
  /* line 202, ../sass/_forms.scss */
  .commentlist li.comment {
    border-bottom: 1px dotted #666;
    padding: 10px; }
    /* line 205, ../sass/_forms.scss */
    .commentlist li.comment .gravatar {
      width: 10%; }
    /* line 210, ../sass/_forms.scss */
    .commentlist li.comment div.comment-meta {
      font-size: 10px; }
      /* line 212, ../sass/_forms.scss */
      .commentlist li.comment div.comment-meta a {
        color: #ccc; }
    /* line 218, ../sass/_forms.scss */
    .commentlist li.comment ul {
      list-style: none; }
    /* line 221, ../sass/_forms.scss */
    .commentlist li.comment div.reply {
      font-size: 11px;
      text-align: right; }
      /* line 224, ../sass/_forms.scss */
      .commentlist li.comment div.reply a {
        font-weight: bold; }
  /* line 230, ../sass/_forms.scss */
  .commentlist ul.children {
    list-style: none;
    margin: 10px 0 0; }
    /* line 235, ../sass/_forms.scss */
    .commentlist ul.children li.depth-2 {
      border-left: 5px solid #555;
      margin: 0 0 10px 10px; }
    /* line 239, ../sass/_forms.scss */
    .commentlist ul.children li.depth-3 {
      border-left: 5px solid #999;
      margin: 0 0 10px 10px; }
    /* line 243, ../sass/_forms.scss */
    .commentlist ul.children li.depth-4 {
      border-left: 5px solid #bbb;
      margin: 0 0 10px 10px; }
  /* line 251, ../sass/_forms.scss */
  .commentlist li.even {
    background: #fff; }
  /* line 254, ../sass/_forms.scss */
  .commentlist li.odd {
    background: #EBEBEB; }
  /* line 257, ../sass/_forms.scss */
  .commentlist li.parent {
    border-left: 5px solid #111; }
  /* line 262, ../sass/_forms.scss */
  .commentlist h2 {
    margin: 0;
    padding: 10px 0 0; }

/* line 269, ../sass/_forms.scss */
#respond h2 {
  margin: 0;
  padding: 10px 0 0; }
/* line 273, ../sass/_forms.scss */
#respond label {
  display: none; }
/* line 276, ../sass/_forms.scss */
#respond input, #respond textarea {
  width: 98%;
  padding: 10px 5px;
  font-size: .8em; }
/* line 283, ../sass/_forms.scss */
#respond input[type=submit] {
  width: auto;
  margin: 10px 0;
  text-align: right; }

/*
 * jQuery FlexSlider v1.8
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
/* Browser Resets */
/* line 11, ../sass/_slider.scss */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
  outline: none; }

/* line 12, ../sass/_slider.scss */
.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* line 14, ../sass/_slider.scss */
#slider-wrapper {
  background: #005b91;
  border-top: 2px solid #ed1c24;
  border-bottom: 2px solid #ed1c24; }

/* line 15, ../sass/_slider.scss */
#slider {
  padding: 58px 0 0;
  text-align: center;
  min-height: 246px; }
  /* line 20, ../sass/_slider.scss */
  #slider ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  /* line 22, ../sass/_slider.scss */
  #slider img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }
  /* line 26, ../sass/_slider.scss */
  #slider .button {
    background: #41a458; }

/* FlexSlider Necessary Styles
*********************************/
/* line 31, ../sass/_slider.scss */
.flexslider {
  margin: 0;
  padding: 0; }

/* line 32, ../sass/_slider.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 35, ../sass/_slider.scss */
.flexslider .slides img {
  max-width: 100%; }

/* line 36, ../sass/_slider.scss */
.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
/* line 39, ../sass/_slider.scss */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* line 40, ../sass/_slider.scss */
html[xmlns] .slides {
  display: block; }

/* line 41, ../sass/_slider.scss */
* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 47, ../sass/_slider.scss */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
/* line 51, ../sass/_slider.scss */
.flexslider {
  position: relative;
  zoom: 1; }

/* line 52, ../sass/_slider.scss */
.flexslider .slides {
  zoom: 1; }

/* line 53, ../sass/_slider.scss */
.flexslider .slides > li {
  position: relative; }

/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
/* line 56, ../sass/_slider.scss */
.flex-container {
  zoom: 1;
  position: relative; }

/* Caption style */
/* Direction Nav */
/* line 61, ../sass/_slider.scss */
.flex-direction-nav {
  height: 0; }

/* line 62, ../sass/_slider.scss */
.flex-direction-nav li a {
  width: 25px;
  height: 61px;
  margin: 0;
  display: block;
  background: url("../images/slider-arrows.png") no-repeat;
  position: absolute;
  bottom: 3px;
  cursor: pointer;
  text-indent: -999em; }

/* line 63, ../sass/_slider.scss */
.flex-direction-nav li .next {
  background-position: -36px 0;
  right: 113px; }

/* line 64, ../sass/_slider.scss */
.flex-direction-nav li .prev {
  left: 113px; }

/* line 65, ../sass/_slider.scss */
.flex-direction-nav li .disabled {
  opacity: .3;
  filter: alpha(opacity=30);
  cursor: default; }

/* Control Nav */
/* line 68, ../sass/_slider.scss */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 87px;
  text-align: center; }

/* line 69, ../sass/_slider.scss */
.flex-control-nav li {
  margin: 0 0 0 14px;
  display: inline-block;
  zoom: 1;
  display: inline-block; }

/* line 70, ../sass/_slider.scss */
.flex-control-nav li:first-child {
  margin: 0; }

/* line 71, ../sass/_slider.scss */
.flex-control-nav li a {
  width: 8px;
  height: 8px;
  display: block;
  background: url("../images/slide-counter.png") right top no-repeat;
  cursor: pointer;
  text-indent: -999em; }

/* line 72, ../sass/_slider.scss */
.flex-control-nav li a:hover, .flex-control-nav li a.flex-active {
  background-position: 0 0; }

/********** Structure Styles **********/
/* line 3, ../sass/_structure.scss */
.wrapper {
  position: relative;
  width: 948px;
  margin-left: auto;
  margin-right: auto; }

/********** [ Header ] **********/
/* line 10, ../sass/_structure.scss */
body > header {
  margin-top: 39px;
  margin-bottom: 20px; }
  /* line 14, ../sass/_structure.scss */
  body > header .searchform {
    text-align: right; }

/* line 16, ../sass/_structure.scss */
#logo {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 375px; }

/* line 19, ../sass/_structure.scss */
#logo h2 {
  margin: 0; }

/* line 20, ../sass/_structure.scss */
#search {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 533px; }

/* line 23, ../sass/_structure.scss */
nav {
  margin-top: -47px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 928px; }

/* line 27, ../sass/_structure.scss */
header#site-header {
  position: relative; }
  /* line 30, ../sass/_structure.scss */
  header#site-header #member-meta {
    position: absolute;
    right: 0;
    top: 99px;
    background: #049af3;
    padding: 15px;
    color: #fff;
    font-size: .8em;
    z-index: 9;
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 217px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px; }
    /* line 43, ../sass/_structure.scss */
    header#site-header #member-meta #member-area {
      background: #90d4fd;
      padding: 10px;
      color: #005b91;
      line-height: 1.1em;
      font-size: .9em;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px; }
      /* line 51, ../sass/_structure.scss */
      header#site-header #member-meta #member-area h5 {
        margin: 5px 0 15px;
        color: #005b91;
        font-size: 1.2em; }
      /* line 56, ../sass/_structure.scss */
      header#site-header #member-meta #member-area p {
        margin-bottom: 7px; }
      /* line 57, ../sass/_structure.scss */
      header#site-header #member-meta #member-area #user-photo {
        margin-right: 10px; }
        /* line 60, ../sass/_structure.scss */
        header#site-header #member-meta #member-area #user-photo img {
          border: 4px solid #fff; }
      /* line 62, ../sass/_structure.scss */
      header#site-header #member-meta #member-area #user-data {
        font-size: .95em; }
        /* line 65, ../sass/_structure.scss */
        header#site-header #member-meta #member-area #user-data a {
          color: #005b91 !important;
          font-weight: bold; }
        /* line 69, ../sass/_structure.scss */
        header#site-header #member-meta #member-area #user-data li {
          margin: 3px 0 8px; }
        /* line 70, ../sass/_structure.scss */
        header#site-header #member-meta #member-area #user-data li.logout-link {
          margin-left: 20px;
          margin-top: 19px; }
          /* line 74, ../sass/_structure.scss */
          header#site-header #member-meta #member-area #user-data li.logout-link a {
            text-decoration: underline; }
        /* line 76, ../sass/_structure.scss */
        header#site-header #member-meta #member-area #user-data span {
          background: #ed1c24;
          padding: 0 6px;
          color: #fff;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          border-radius: 10px; }
      /* line 83, ../sass/_structure.scss */
      header#site-header #member-meta #member-area #loginform {
        font-size: 1.3em; }
        /* line 86, ../sass/_structure.scss */
        header#site-header #member-meta #member-area #loginform input[type=text], header#site-header #member-meta #member-area #loginform input[type=password] {
          margin-bottom: 7px;
          width: 107%; }

/********** [ Main Content ] **********/
/* line 94, ../sass/_structure.scss */
#content-header {
  background: #005b91;
  border-top: 2px solid #ed1c24;
  border-bottom: 2px solid #ed1c24; }
  /* line 99, ../sass/_structure.scss */
  #content-header .wrapper {
    background: transparent url(../images/blog-gfx.png) left bottom no-repeat;
    min-height: 140px; }
  /* line 101, ../sass/_structure.scss */
  #content-header h1 {
    color: #fff;
    font-size: 4em;
    padding: 77px 0 14px;
    font-weight: bold;
    margin: 0;
    line-height: 1em;
    max-width: 75%; }

/* line 112, ../sass/_structure.scss */
#home #content-header p {
  color: #fff;
  font-size: 1.65em;
  padding: 17px 0;
  font-weight: bold;
  margin: 0;
  line-height: 1.2em; }
/* line 120, ../sass/_structure.scss */
#home #content-header div {
  width: 66%; }
/* line 121, ../sass/_structure.scss */
#home #content-header .wrapper {
  background: transparent; }

/* line 124, ../sass/_structure.scss */
#body-wrapper {
  margin-bottom: 30px; }
  /* line 127, ../sass/_structure.scss */
  #body-wrapper #body {
    position: relative;
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 691px; }
  /* line 132, ../sass/_structure.scss */
  #body-wrapper .one-column {
    text-align: center; }
  /* line 133, ../sass/_structure.scss */
  #body-wrapper .two-column {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 454px; }
  /* line 134, ../sass/_structure.scss */
  #body-wrapper .three-column {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 296px; }
  /* line 135, ../sass/_structure.scss */
  #body-wrapper .four-column {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 217px; }

/* line 138, ../sass/_structure.scss */
.featured-block {
  background: #049af3;
  padding: 21px 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: .8125em;
  clear: both;
  display: inline;
  float: left;
  width: 948px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
  /* line 148, ../sass/_structure.scss */
  .featured-block h3, .featured-block p {
    margin: 0;
    color: #fff; }
  /* line 152, ../sass/_structure.scss */
  .featured-block h3 {
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 1.846153846em; }
  /* line 157, ../sass/_structure.scss */
  .featured-block ul {
    list-style: none;
    list-style-image: none;
    margin: 0 0 5px;
    padding: 0; }
    /* line 160, ../sass/_structure.scss */
    .featured-block ul li {
      line-height: 1.5em; }
  /* line 162, ../sass/_structure.scss */
  .featured-block a {
    color: #fff; }
    /* line 165, ../sass/_structure.scss */
    .featured-block a:hover, .featured-block a:active {
      color: #00446b; }
  /* line 167, ../sass/_structure.scss */
  .featured-block p > a {
    text-decoration: underline; }

/* line 169, ../sass/_structure.scss */
.single-featured-block {
  background: #90d4fd;
  color: #005b91;
  padding: 21px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
  /* line 175, ../sass/_structure.scss */
  .single-featured-block h2 {
    margin: 0; }

/* line 177, ../sass/_structure.scss */
a.post-edit-link {
  position: absolute;
  opacity: .3;
  top: 0;
  right: 0;
  background: #90d4fd;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-top: none;
  padding: 3px 7px;
  font-size: .9em;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s; }
  /* line 191, ../sass/_structure.scss */
  a.post-edit-link:hover {
    opacity: 8;
    top: 0;
    padding: 7px 7px 3px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s; }

/********** [ BuddyPress Core Styles ] **********/
/* line 202, ../sass/_structure.scss */
body.page-template-archive-categories-php h2 {
  margin-bottom: 0;
  font-weight: normal; }
  /* line 205, ../sass/_structure.scss */
  body.page-template-archive-categories-php h2 small {
    background: #ed1c24;
    padding: 0 6px;
    color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }
/* line 212, ../sass/_structure.scss */
body.page-template-archive-categories-php p {
  margin: 5px 0 0; }
/* line 213, ../sass/_structure.scss */
body.page-template-archive-categories-php article {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px; }

/********** [ BuddyPress Core Styles ] **********/
/* line 219, ../sass/_structure.scss */
span.activity, div#message p {
  border: none;
  background: #049AF3;
  color: #fff;
  font-size: .9em; }

/********** [ BuddyPress Members Profile Area ] **********/
/* line 223, ../sass/_structure.scss */
body.bp-user .wrapper {
  background: transparent !important; }

/* line 224, ../sass/_structure.scss */
#user-avatar {
  float: left;
  margin-top: 10px;
  padding: 10px 10px 0;
  margin-right: 20px;
  background: #049AF3;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px; }
  /* line 233, ../sass/_structure.scss */
  #user-avatar img {
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px; }

/* line 238, ../sass/_structure.scss */
#user-meta {
  float: left;
  padding-top: 16px;
  width: 57%; }
  /* line 243, ../sass/_structure.scss */
  #user-meta h1 {
    padding: 0 0 10px;
    font-size: 2.8em;
    width: 100%; }
    /* line 248, ../sass/_structure.scss */
    #user-meta h1 a {
      color: #fff; }
  /* line 250, ../sass/_structure.scss */
  #user-meta span.user-nicename {
    color: #90D4FD;
    margin-right: 10px; }

/* line 252, ../sass/_structure.scss */
div#item-header div#item-meta {
  margin: 0;
  padding: 0; }

/* line 253, ../sass/_structure.scss */
ul#members-list {
  margin: 0;
  padding: 0;
  list-style: none; }

/* line 254, ../sass/_structure.scss */
div.item-list-tabs {
  background: #ededed;
  padding-top: 5px; }
  /* line 257, ../sass/_structure.scss */
  div.item-list-tabs ul {
    margin: 0;
    padding: 0; }
    /* line 260, ../sass/_structure.scss */
    div.item-list-tabs ul li {
      margin: 0; }
      /* line 262, ../sass/_structure.scss */
      div.item-list-tabs ul li:first-child {
        margin-left: 5px; }
      /* line 263, ../sass/_structure.scss */
      div.item-list-tabs ul li a {
        height: auto;
        color: #005B91;
        padding: 5px 9px; }
        /* line 268, ../sass/_structure.scss */
        div.item-list-tabs ul li a span {
          background: #ed1c24;
          color: #fff;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          border-radius: 10px; }
        /* line 269, ../sass/_structure.scss */
        div.item-list-tabs ul li a:hover {
          color: #005B91; }
          /* line 272, ../sass/_structure.scss */
          div.item-list-tabs ul li a:hover span {
            background: #005B91; }

/* line 278, ../sass/_structure.scss */
div.item-list-tabs#subnav {
  border-bottom: 1px solid #005B91; }

/* line 279, ../sass/_structure.scss */
div.item-list-tabs#subnav li.current a {
  background: #005B91;
  color: #fff;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px; }

/* line 280, ../sass/_structure.scss */
form#whats-new-form textarea {
  height: 26px; }

/* line 281, ../sass/_structure.scss */
#whats-new:focus {
  border-color: #fff !important;
  outline-color: #fff;
  box-shadow: 0, 0, 5px, rgba(0, 0, 0, 0.3) !important;
  -webkitbox-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important; }

/* line 282, ../sass/_structure.scss */
#activity-stream {
  padding: 0;
  margin: 0;
  list-style: none; }
  /* line 287, ../sass/_structure.scss */
  #activity-stream .activity-header p, #activity-stream .activity-inner p {
    margin: 0; }
  /* line 288, ../sass/_structure.scss */
  #activity-stream .activity-meta {
    float: right; }

/* line 290, ../sass/_structure.scss */
.activity-list li.mini .activity-avatar img.avatar, .activity-list li.mini .activity-avatar img.FB_profile_pic {
  width: 50px;
  height: 50px;
  margin-left: 0; }

/* line 291, ../sass/_structure.scss */
form#whats-new-form {
  margin-top: 10px !important; }

/********** [ Blog Styles ] **********/
/* line 296, ../sass/_structure.scss */
article.post {
  margin: 30px 0 50px; }

/* line 297, ../sass/_structure.scss */
.post-author {
  background: #005b91;
  color: #fff;
  padding: 10px;
  float: left;
  width: 13%;
  text-align: center;
  font-size: .8em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  /* line 307, ../sass/_structure.scss */
  .post-author a {
    color: #fff; }
  /* line 308, ../sass/_structure.scss */
  .post-author img {
    border: 2px solid #fff; }

/* line 310, ../sass/_structure.scss */
.post-body {
  float: left;
  width: 84%;
  margin-left: 3%; }
  /* line 315, ../sass/_structure.scss */
  .post-body h2 {
    font-weight: normal;
    margin: 0 0 10px; }
  /* line 319, ../sass/_structure.scss */
  .post-body img {
    max-width: 100%;
    height: auto; }

/* line 321, ../sass/_structure.scss */
.post-meta {
  color: #4278a2;
  font-size: .9em; }
  /* line 325, ../sass/_structure.scss */
  .post-meta a {
    color: #005b91;
    text-decoration: underline; }
  /* line 327, ../sass/_structure.scss */
  .post-meta .post-date {
    width: 50%; }
  /* line 328, ../sass/_structure.scss */
  .post-meta .tags {
    font-weight: bold;
    width: 30%; }
    /* line 332, ../sass/_structure.scss */
    .post-meta .tags a {
      font-weight: normal; }
  /* line 337, ../sass/_structure.scss */
  .post-meta .comments span {
    background: #ed1c24;
    padding: 2px 8px;
    color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }

/********** [ Sidebar Content ] **********/
/* line 348, ../sass/_structure.scss */
#sidebar {
  position: relative;
  top: 25px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 217px; }
  /* line 353, ../sass/_structure.scss */
  #sidebar h2, #sidebar h3 {
    color: #fff;
    margin: 0 0 10px;
    font-weight: normal; }
  /* line 355, ../sass/_structure.scss */
  #sidebar .widget {
    background: #049AF3;
    padding: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 10px; }
  /* line 356, ../sass/_structure.scss */
  #sidebar .widget_text {
    background: #90d4fd;
    color: #005b91; }
    /* line 360, ../sass/_structure.scss */
    #sidebar .widget_text h2, #sidebar .widget_text h3 {
      font-size: 1.8em;
      line-height: 1.12em;
      color: #005b91; }
    /* line 366, ../sass/_structure.scss */
    #sidebar .widget_text .button {
      margin-top: 20px;
      margin: 0 auto; }
  /* line 369, ../sass/_structure.scss */
  #sidebar a {
    color: #fff; }
    /* line 370, ../sass/_structure.scss */
    #sidebar a:hover {
      text-decoration: underline; }
  /* line 375, ../sass/_structure.scss */
  #sidebar #sub-navigation ul {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff; }
    /* line 378, ../sass/_structure.scss */
    #sidebar #sub-navigation ul.last {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0; }

/********** [ Footer ] **********/
@media print {
  /* line 2, ../sass/_print.scss */
  * {
    background: transparent!important;
    color: #000!important;
    box-shadow: none!important;
    text-shadow: none!important; }

  /* line 8, ../sass/_print.scss */
  a {
    text-decoration: underline; }
    /* line 10, ../sass/_print.scss */
    a:visited {
      text-decoration: underline; }
    /* line 13, ../sass/_print.scss */
    a[href]:after {
      content: " (" attr(href) ")"; }

  /* line 17, ../sass/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* line 20, ../sass/_print.scss */
  .ir a:after {
    content: ""; }

  /* line 24, ../sass/_print.scss */
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* line 28, ../sass/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 32, ../sass/_print.scss */
  thead {
    display: table-header-group; }

  /* line 35, ../sass/_print.scss */
  tr {
    page-break-inside: avoid; }

  /* line 38, ../sass/_print.scss */
  img {
    page-break-inside: avoid;
    max-width: 100%!important; }

  @page {
    margin: .5cm; }

  /* line 46, ../sass/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  /* line 50, ../sass/_print.scss */
  h2, h3 {
    page-break-after: avoid; } }
